{
    email ops@example.com
}

staging.shulehq.co.ke, admin.staging.shulehq.co.ke, novel-school.staging.shulehq.co.ke {
    encode zstd gzip

    log {
        output file /var/log/caddy/staging-access.log
        format console
    }

    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        X-Frame-Options "SAMEORIGIN"
        X-Robots-Tag "noindex, nofollow"
        -Server
    }

    reverse_proxy 127.0.0.1:8081
}
